version: '3.8'

services:
  # -----------------
  # SQL Server DB
  # -----------------
  rapidmgmt-db:
    image: mysql:8.0
    container_name: rapidmgmt-db
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: rapidsystem
    ports:
      - "3306:3306"
    volumes:
      - dbdata:/var/lib/mysql


  # -----------------
  # Backend (Spring Boot)
  # -----------------
  rapidmgmt-be:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: rapidmgmt-be
    ports:
      - "8080:8080"
    depends_on:
      - rapidmgmt-db
    volumes:
      - ../Images:/app/images    # <-- host Images folder mapped inside container

  # -----------------
  # Frontend (Angular)
  # -----------------
  rapidmgmt-fe:
    build:
      context: ../RapidInstituteManagmentSystem
      dockerfile: Dockerfile
    container_name: rapidmgmt-fe
    ports:
      - "4200:80"
    depends_on:
      - rapidmgmt-be

# -----------------
# Named volumes
# -----------------
volumes:
  dbdata:
