version: '3.8'

services:
  rapidmgmt-db:
    image: mcr.microsoft.com/mssql/server:2019-latest
    container_name: rapidmgmt-db
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Sheno!@31
    ports:
      - "1433:1433"
    volumes:
      - mssql_data:/var/opt/mssql

  rapidmgmt-be:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: rapidmgmt-be
    environment:
      SPRING_DATASOURCE_URL: jdbc:sqlserver://rapidmgmt-db:1433;databaseName=RapidManagement
      SPRING_DATASOURCE_USERNAME: sa
      SPRING_DATASOURCE_PASSWORD: Sheno!@31
    ports:
      - "8080:8080"
    depends_on:
      - rapidmgmt-db

volumes:
  mssql_data:
